<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script src="./angular/lib/angular.js"></script>
    <script src="./angular/lib/angular-route.js"></script>
    <script src="angular/src/app.js"></script>
    <script src="./angular/src/validatorControllers.js"></script>    
    <script src="./angular/src/complexSchemasController.js"></script>    
  </head>
  <body>
      <div ng-view="">
      </div>
  </body>
</html>
